/* Header */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/* Deja fijo el menu */
    .header {
        position:fixed;
        top: 0;
        width: 100%;
       
        /* padding: 15px 20px;
        background-color: #333;
        font-size: 20px;
        color: #FFFFFF;
    */
        z-index: 3;    /* orden los elementos por acoplamiento */    
        
    }

    .nombre {
        padding: 4px 0 0 40px;
        font-family:'Times New Roman', Times, serif;
        font-size: 55px;
    }
    .navbar {
        padding: 1rem;
        background-color: #C60808;
    }

    .nav-link {
        color :#FFF;
    }
    
    .navbar-collapse {
        align-items: center;
        justify-content: end;
    }

    /* .container-redesSociales-menu {
        background-color:  #C60808;
        justify-content: end;
    } */

    .container-redesSociales-footer {
        background-color: #f30606;
        justify-content: flex-end;
    }

    .footer {
        background-color:  hsl(0, 94%, 49%);
        text-align: center;
        display: flex;
        flex-direction: left;
        justify-content: right;
        color: #C60808;
        justify-content: end;
    
    }


    .img-1 {
        fill:#fefefe !important;
        font-size: 30px;
    }

    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #333;
        font-size: 1.2rem;
        line-height: 1.6em;
        padding-top: 170px;   /* espacio para que no quede tapado por la cabecera fija el texto inicial */
        /*background: -webkit-radial-gradient(-30% 70%, rgb(241, 227, 227) 10%, rgb(237, 233, 217) 40%, rgb(244, 238, 243) 60%); */
        /*background: linear-gradient(rgb(241, 227, 227), rgb(237, 233, 217), rgb(244, 238, 243), rgb(235, 129, 168)); */
        background: #f6acac;
    }
    
    p {
        margin-bottom: 1.6em;
    }

    /*descativado clase container */
    .container1 {
        width: 85%;
        max-width: 850px;
        margin: 0 auto;
    }

    .header {
        background: #C60808;
        color: white;
    }

    .log-nav-container {
        display: flex;
        justify-content: space-between;
    }

    /* estilo de los botones */
    .btn {
        display: inline-block;
        padding: 15px 25px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;	
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #741818;
        border: none;
        border-radius: 15px;
        /*box-shadow: 0 9px #999; */
    }

    .btn:hover {background-color: #f147c7}
        
    .btn:active {
        background-color: #287890;
        box-shadow: 0 10px #666;
        transform: translateY(4px);
        color: #FFF;
    }
 

/* Main  */
   
   .slider {
        width: 95%;
        margin: auto;
        overflow: hidden;
    }
   
   .slider ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: cambioFoto 20s infinite alternate linear;
    }
 
    .slider li {
        width: 100%;
        list-style: none;
    }
    
    .slider img {
        width: 100%;

    }
    
    /* Ajusto el tamaño de las imagenes dentro del contenedor padre */
    .slider img {          
        width: 100%;
        height: 500px;
        object-fit: cover;    /* la imagen se ajusta al tamaño del padre */
    }

    /* controla los estilos de los parrafos debajo de cada foto del slider */
    .p-sedes {
        top: 50%;
        left: 50%;  
        text-size-adjust:initial ;
        color: wheat;
        font-size: 30px;
        background-color: #333;
    }
    
    /* configuro las paradas de cada foto */ 
    @keyframes cambioFoto {
        0% {margin-left: 0;}
        20% {margin-left: 0; }

        25% {margin-left: -100%;}
        45% {margin-left: -100%; }

        50% {margin-left: -200%;}
        70% {margin-left: -200%; }

        75% {margin-left: -300%;}
        100% {margin-left: -300%; }
    }

    .titulo {
        color: #5d0404;
    }
   
    .container-imagenes-index {
        display: inline-block;
        padding: 5px;
        box-sizing: border-box;
    }

    .img-index{
        object-fit: cover;
        width:70%;
        height:70%;
        border-top-left-radius: 400px 200px;
        border-radius: 50%;
        filter: drop-shadow(20px  20px 20px #333 );
    }

   
   .container-imagenes-index {

        display: inline-block;
        padding: 5px;
        box-sizing: border-box;
        


   }
   

  
   
  .img-borde-izquierdo-curvo-index{
    object-fit: cover;
    width:70%;
    height:70%;
    border-top-left-radius: 400px 200px;
    /*border-radius: 50%;*/
    filter: drop-shadow(20px  20px 20px #333 );

  }
 
   
    .row {
        justify-content: center;
    }



   
   .img-circle-index {

        background: rgb(240, 161, 202);
        border-radius: 50%;
        width: 300px;
        height: 300px;
        filter: drop-shadow(20px  20px 20px #333 );
        z-index: 1;   /* ordena los elementos por acoplamiento */
    }
  
/* FOTTER */
