*  {background: linear-gradient(360deg, rgba(253,135,29,1) 0%, rgba(92, 2, 2)100%)};
.cont-colorfondo {    
    background-color: rgb(181, 107, 107);   
    text-align: justify ;    
}


/* 
    para manejar la primera caja */
#caja1 {     
    width: 350px;
    height: 300px;
    color: darkkhaki;
    border:3px solid brown;
    border-radius: 22px;
    background-color: rgb(255, 127, 210); /*no lo obedece*/
    text-align: center;
}

.sombra {

   box-shadow: 5px 5px 15px gray;
}
    

